.App {
  text-align: center;
 
}

.mainForm{ 
  margin: 0 auto;
  padding: 3% 10% 3% 10%; 
  border: 1px solid grey;
  
}
h1, h2, h3, h4{ 
  font-family: 'Londrina Shadow', cursive;
  padding: 5px;

}
label{ 
  font-family: 'Londrina Shadow', cursive;
  font-size: 25px;
}
